@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
}

.promo-text {
    font-weight: bold;
    font-size: 1.5em;
}
